*{
 margin: 0%;
 padding: 0%;
}

body{
 background-color: #e6e6e6;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.branco {
    color:white;
}

.azul {
    color: cornflowerblue;
}

.header{
 background-color: darkolivegreen;
 padding: 15px;
text-align: center;
}

.menu, .logo{
    padding: 10px;
}

a, a:visited {
    color:white;
    text-decoration: none;
    padding: 8px 12px;
}

a:hover{
    background-color: white;
    color: darkolivegreen;
}

.container{
    width: 920px;
    margin: 0 auto;
    padding: 20px;
}

.posts{
    width: 680px;
    float: left;
}

.post {
    padding: 20px;
    margin-bottom: 10px;
     background-color: white;
}

h2{
    color: darkolivegreen;
}

.data-post{
    display: block;
    font-size: 0,8em;
    margin-bottom: 15px;
}

.barra-lateral{
    width: 240px;
    float: right;
}

.conteudo-lateral{
    background-color: white;
    padding: 15px;
    margin: 20px;
}

.conteudo-lateral h3{
    background-color: darkolivegreen;
    color: white;
    padding: 5px;
}

.post-destaque{
    font-size: 15px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.post-destaque :last-child{
    border: none;
}

.footer{
    clear: both;
    background-color: darkolivegreen;
    padding: 15px;
}

.footer p{
    color: white;
    text-align: center;
}